label {
  display: block;
  margin-top: 1.5rem;
  font-weight: bold;
}
input
textarea {
    dispplay: block;
    margin-top: 0.25rem;
    width: 1005
    max-width: 480px;
}
button[type="submit"] {
  display: block;
  margin-top: 2rem;
}
